<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ConnectedSocial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F766461C1EBC19C8000A5EB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F76646331EBC19C9000A5EB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F766463E1EBC19C9000A5EB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
